.home__content {
  grid-template-columns: 300px 2fr 1fr;
  padding-top: 5.5rem;
  column-gap: 4rem;
  align-items: center;
}

.home__img {
  position: relative;
  background: url(../../assets/images/user_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(109, 66, 149, 0.8);
}

.corner {
  position: absolute;
  background-color: var(--logo-color);
}

.top-left {
  top: -10px;
  left: -10px;
  width: 40px;
  height: 10px;
  animation: expColTopLeft 2s infinite alternate;
}

.top-right {
  top: -10px;
  right: -10px;
  width: 40px;
  height: 10px;
  animation: expColTopRight 2s infinite alternate;
}

.bottom-left {
  bottom: -10px;
  left: -10px;
  width: 40px;
  height: 10px;
  animation: expColBotLeft 2s infinite alternate;
}

.bottom-right {
  bottom: -10px;
  right: -10px;
  width: 40px;
  height: 10px;
  animation: expColBotRight 2s infinite alternate;
}

.top-left::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 40px;
  background-color: var(--logo-color);
  left: 0;
}

.top-right::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 40px;
  background-color: var(--logo-color);
  right: 0;
}

.bottom-left::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 40px;
  background-color: var(--logo-color);
  bottom: 0;
}

.bottom-right::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 40px;
  background-color: var(--logo-color);
  bottom: 0;
  right: 0;
}


@keyframes expColTopLeft {
  0%, 100% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
}

@keyframes expColTopRight {
  0%, 100% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
}

@keyframes expColBotLeft {
  0%, 100% {
    transform: translate(-5px, 5px);
  }
  50% {
    transform: translate(5px, -5px);
  }
}

@keyframes expColBotRight {
  0%, 100% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
}

.home__img:hover {
  animation: avaFrame 3s ease-in-out infinite;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  justify-self: end;
}

.home__social-icon {
  position: relative;
  font-size: 2rem;
  color: var(--logo-color);
}

.home__social-icon:hover {
  color: var(--logo-color-dark);
}

.home__social-icon::after {
  position: absolute;
  content: attr(data-content);
  display: none;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(241, 224, 224, 0.5);
  color: #fff;
  font-size: var(--small-font-size);
  bottom: 18%;
  /* left: 100%; */
  right: 100%;
  width: auto;
  white-space: nowrap;
  overflow: visible;
}

.home__social-icon:hover::after {
  display: inline-block;
  transition: 10s ease-in;
}

.home__title {
  color: var(--logo-color);
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}

.home__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 3.5rem;
  font-weight: var(--font-normal);
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.home__subtitle-icon {
  font-size: 2rem;
}

.home__description {
  max-width: 500px;
  position: relative;
}

.quote {
  margin-left: 20px;
}

.quote::before {
  content: "";
  position: absolute;
  background-color: var(--logo-color-dark);
  width: 15px;
  height: 15px;
  left: 0;
  transform: rotate(45deg);
}

/* Responsive */
@media screen and (max-width: 992px) {
  .home__title {
    font-size: calc(var(--big-font-size) - 1rem);
  }

  .home__subtitle {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {  
  .section {
    padding: 6rem 0 4rem;
  }
  
  .home__content {
    grid-template-columns: 1fr;
  }

  .home__img {
    margin: auto;
  }

  .home__data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
  }

  .home__social {
    display: flex;
    gap: 1rem;
  }

  .home__social-icon:hover::after {
    display: none;
  }
}

@media screen and (max-width: 576px) {  
}

@media screen and (max-width: 350px) {  
  .home__img {
    width: 250px;
    height: 250px;
  }
}