.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: 2px solid var(--logo-color-dark);
  border-radius: 10px;
  width: 600px;
  padding: 3rem;
  margin: auto;
}

.contact__icon {
  position: absolute;
  margin: 5px 5px;
  font-size: 1.6rem;
}

.form__title {
  color: var(--logo-color);
  font-size: 1.4rem;
}

.list__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input__item {
  position: relative;
}

input.input__content {
  height: 50px;
  border: none;
}

textarea {
  resize: none;
}

.input__content {
  width: 400px;
  border-radius: 5px;
  font-size: var(--normal-font-size);
  background-color: var(--text-color);
  outline: none;
  padding: 10px;
}

.input__label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--text-color);
  background-color: var(--logo-color);
  padding: 5px;
  border-radius: 5px;
  transition: transform ease-out .3s;
  transform: translateX(0);
  opacity: 0;
}

.input__label.active {
  transform: translate(300px, -30px);
  opacity: 1;
}

.send__btn {
  position: relative;
}

.send__btn input {
  border-radius: 5px;
  width: 150px;
  height: 40px;
  border: 1px solid var(--text-color);
  background-color: var(--logo-color);
  font-size: 1.3rem;
  color: var(--text-color);
}

.send__btn input:hover {
  cursor: pointer;
}

.send__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Breakpoints */
@media screen and (max-width: 1081px) {  

}

@media screen and (max-width: 768px) {  
  .contact__form {
    width: 450px;
  }
  .input__content {
    width: 350px;
  }
  .input__label.active {
    transform: translate(250px, -30px);
  }
}

@media screen and (max-width: 576px) {  
  .contact__form {
    width: 300px;
  }
  .input__content {
    width: 250px;
    font-size: 1rem;
  }
  input.input__content  {
    height: 40px;
  }
  .section__title {
    font-size: 2rem;
  }
  .send__btn input {
    font-size: 1rem;
  }
  .input__label.active {
    transform: translate(150px, -30px);
  }
}

@media screen and (max-width: 350px) {  
  
}