.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--container-color);
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.nav__list {
  display: flex;
  column-gap: 1.5rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__icon {
  display: none;
}

.active-link, .nav__link:hover {
  color: var(--title-color-dark);
}