:root {
  --header-height: 3rem;

  /* Color (HSL) */
  --hue: 0;
  --sat: 0%;
  --title-color: #FFFFFF;
  --title-color-dark: rgb(84, 108, 196);
  --text-color: #FFFEFD;
  --header-text-color: hsl(var(--hue), var(--sat), 100%);
  /* --body-color: hsl(var(--hue), var(--sat), 98%); */
  --body-color: #0D1117;
  --container-color: #000000;
  --header-color: rgba(23, 21, 38, 1);

  /* Font styles */
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1.1rem;
  --small-font-size: 0.875rem;

  /* Font weight */
  --font-thin: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  position: relative;
  background-color: var(--body-color);
  color: var(--text-color);
  height: 2000px;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Classes */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: .5rem;
}